.console {
    box-sizing: border-box;
    border-top: 1px solid slategray;
    background-color: #10121d;
    width: calc(100% - (252px + 51px));
    height: 150px;
    position: absolute;
    left: 251px;
    bottom: 40px;
    font-size: 12px;
    color: white;
    overflow: auto;
    padding-bottom: 10px;
}

.isConsoleActive {
    display: block;
}

.terminal-title {
    width: 150px;
    background-color: #060810;
    font-size: 15px;
    height:25px;
    line-height:25px;
    padding-left:10px;
    color: #ffffff;
    margin-bottom: 10px;
}

.console-input-row {
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    display: flex;
}

.console-path {
    height: 100%;
    color: deepskyblue;
    padding-left: 5px;
}

.console-input {
    background-color: inherit;
    outline: none;
    border: none;
    color: white;
    padding-left: 5px;
    height: 100%;
    width: 100%;
}

.console-path, .console-input {
    font-size: 13px;
    line-height: 20px;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.console-output {
    background-color: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.stdout-error {
    color: red;
}